{{!--
{{#if nextEvent}}
    {{#link-to "news" class="next-event"}}

        <h2 class="next-event-headline">{{t 'general.event.next' htmlSafe=true}}</h2>

        <div class="next-event-timer">
            <span>{{nextEvent}}</span>
        </div>

        {{yield}}

    {{/link-to}}
{{/if}}
--}}