<div class="d-flex justify-content-center">
    {{#link-to "index" class="logo"}}
        <div class="logo-brand">{{t 'brand.title'}}</div>
        <div class="logo-city">{{t 'contact.city'}}</div>
        {{yield}}
    {{/link-to}}
</div>