<div class="main-header">
    
    {{yield}}
    
    <div class="main-header-banner d-flex">
        <div class="main-header-banner-brand">
            {{t 'brand.title'}}
        </div>
        <div class="main-header-banner-city">
            {{t 'contact.city'}}
        </div>
    </div>

</div>