
//
// Copyright

.copyright {
    background: $color-highlighted;
    color: lighten($text-color-default, 100%);
    padding: $space-default * 2 0;
    font-size: 2em;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}