
// 
// Footer Navigation

.footer-nav {
    background: $color-primary;
    color: $color-highlighted;
    padding: $space-default 0;
    line-height: 1em;
    text-transform: uppercase;
    
    .container {
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }

    .btn-link {
        color: $color-highlighted;
        text-decoration: underline;
        font-size: 1.3em;
        font-weight: 400;
        @include transition();

        &:hover {
            color: lighten($color-highlighted, 100%);
        }

        &:focus,
        &.active {
            color: lighten($color-highlighted, 100%);
        }
    }

}