
//
// Navigation

nav {
  background: $color-primary;
  height: 125px;
  
  .nav-items {
    flex-direction: row;
    
    .btn-link {
      color: $color-highlighted;
      font-size: 1.2em;
      padding: $space-default $space-default * 2;
      @include transition();
  
      .nav-item-title {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 400;
        text-align: left;
        color: lighten($text-color-default, 100%);
      }

      .nav-item-description {
        text-transform: uppercase;
        font-size: 1em;
        text-align: left;
        color: lighten($color-primary, $color-offset-default * 3);
        font-size: 1em;
      }

      &:hover {
        text-decoration: none;
        color: $color-highlighted;
      }
  
      &:focus,
      &.active {
        background: $color-highlighted;
        padding: $space-default $space-default * 2;
        text-decoration: none;
        color: lighten($text-color-default, 100%);

        .nav-item-description {
          color: lighten($color-highlighted, $color-offset-default * 8);
        }
      }

  
    }

  }
  
  
}
