<nav>
	<div class="container d-flex justify-content-between">

		{{app-logo}}

		<div class="nav-items">
			{{#each model.navigation as |item|}}
				{{#link-to item.link class="btn btn-link"}}
					<div class="nav-item-title">{{t item.title}}</div>
                    <div class="nav-item-description">{{t item.description}}</div>
				{{/link-to}}
			{{/each}}
		</div>
        
	</div>
</nav>

{{outlet}}
