<nav>
	<div class="container d-flex flex-column">
        
		{{t 'brand.title'}}
        {{t 'brand.city'}}
        
		<div class="nav-links d-flex justify-content-center">
			{{#each model.navigation as |item|}}
				{{#link-to item.link class="btn- btn-link"}}
					{{t item.title}}
				{{/link-to}}
			{{/each}}
		</div>
        
	</div>
</nav>

{{outlet}}
