<div class="container">

    <div class="article article-default article-grid">
        <div class="article-content">
            <h2 class="article-headline">gef&uuml;hrt</h2>
            <p>
                Sie k&ouml;nnen sich jederzeit zu F&uuml;hrungen durch Burg und Museum anmelden.<br/>
                Es gibt abgestimmte F&uuml;hrungen f&uuml;r Erwachsene, Kinder und Schulklassen.<br/>
                Nehmen Sie Kontakt mit uns auf!
            </p>
        </div>
        <div class="article-image" style="background-image: url(/img/guides.jpg);"></div>
    </div>
    <div class="article article-default article-grid">
        <div class="article-image" style="background-image: url(/img/rental.jpg);"></div>
        <div class="article-content">
            <h2 class="article-headline">gewohnt</h2>
            <p>
                Vermietung von R&auml;umen und dem Burghof<br/>
                <a href="http://www.thueringerschloesser.de" target="_blank">www.thueringerschloesser.de</a>
            </p>
        </div>
    </div>
    <div class="article article-default article-grid">
        <div class="article-content">
            <h2 class="article-headline">geschaut</h2>
            <p>
                Besuchen Sie unser Burgmuseum in der Kemenate!
            </p>
            <p>
              Wir zeigen wechselnde Ausstellungen und eine Dauerausstelung zur Geschichte der Burg.<br/>
              Die Themen sind modern gestaltet und es gibt Mitmachstaionen f&uuml;r unsere jungen G&auml;ste.<br/>
              <br/>
              Wir freuen uns auf Ihren Besuch.
            </p>
        </div>
        <div class="article-image" style="background-image: url(/img/visit.jpg);"></div>
    </div>

    {{next-event events=model.events}}

    {{outlet}}

</div>
