<div class="container">

    <div class="d-flex flex-column flex-md-row">

        <div class="article article-highlighted w50">
            <div class="article-content">
                <h2 class="article-headline">ritterlich und m&auml;rchenhaft</h2>
                <p>
                    Th&uuml;ringen besitzt eine Vielzahl mittelalterlicher Burganlagen. Sie sind zum Teil zu Schl&ouml;ssern geworden, nur wenige sind optisch wehrhafte Burgen mit verschiedenen Funktionen geblieben.<br/>
                    Ein solches Kleinod ist die Wasserburg Kapellendorf, die beschaulich im Tal des Ortes liegt. Sie ist seit 1998 Eigentum der Stiftung Th&uuml;ringer Schl&ouml;sser und G&Auml;rten. Die Stadt Erfurt verwaltet sie als Nebeneinrichtung des Stadtmuseums „Haus zu Stockfisch“.
                </p>
                <p>
                    Der Ort Kapellendorf, im Weimarer Land gelegen, z&auml;hlt heute gerade etwa 450 Einwohner und doch verbindet sich mit ihm ein bedeutendes St&uuml;ck mittelalterlicher Geschichte. Die fr&uuml;he Nennung als „Capelladorf“ im Jahr 833, weist ihn als einen der &auml;ltesten Orte Th&uuml;ringens aus. Erst etwa 300 Jahre sp&auml;ter errichteten die Burggrafen von Kirchberg in der Talniederung eine Wasserburg.
                </p>
                <p>
                    Die Kirchberger Burg, die im Laufe des 12. Jahrhunderts entstand, wurde im sp&auml;ten Mittelalter mit dem Erwerb durch die Stadt Erfurt auf &uuml;ber zwei Hektar erweitert. Der Besucher kann diese erste Anlage noch gut erkennen. Das kleine in sich geschlossene Areal erhebt sich im heutigen Innenhof als „Burg in der Burg“. Wie eng Erfurt und Kapellendorf verbunden waren zeigt sich in der Baut&auml;tigkeit. &Uuml;ber viele Jahre war die Stadt Eigent&uuml;merin der Burg, bis sie 1509 den Besitz an die Wettiner verkaufte. Die Burg wurde zum Amtssitz. Ein g&auml;nzlicher Umbau zum Schloss erfolgte nicht, wodurch ihr der wehrhafte Charakter mit nahezu allen Elementen einer Burg, wie T&uuml;rmen, Mauern, Burgk&uuml;che usw. geblieben ist.
                </p>
                <p>
                    Den Beinamen „Raubritterburg“ verdankt sie einer Belagerung im Jahr 1451: Der Ritter Apel Vitztum von Ro&Uuml;la und sein Bruder verschanzten sich mit einer kurz zuvor &uuml;berfallenen Gesandtschaft auf der Burg. Erst nach einer g&uuml;tlichen Vereinbarung gelang es, die Gefangenen nach &uuml;ber acht Wochen zu befreien.
                </p>
                <p>
                    Kurz danach erfolgte der endg&uuml;ltige Verkauf der Burg. Fast drei Jahrhunderte war es still um die Wasserburg Kapellendorf, bis sie 1806 erneut ins Blickfeld der Geschichte r&uuml;ckte: In den Schlachten bei Jena und Auerstedt diente sie als Hauptlager der preu&Uuml;ischen Truppen.
                </p>
                <p>
                    Neben dem Museum und den ganzj&auml;hrig angebotenen F&uuml;hrungen in und um die Burg, gibt es ein vielseitiges Kulturprogramm.
                </p>
                <p>
                    Die Wasserburg Kapellendorf mit ihrer fast 900 Jahre alten Geschichte l&auml;dt ein, auf einen Besuch im Museum, zu einer der Veranstaltungen oder einfach auf einen Spaziergang im idyllischen Burghof oder durch den Ort Kapellendorf selbst.
                </p>
                <p>
                    Sie sind herzlich eingeladen!
                </p>
            </div>
        </div>

        <div class="article article-primary no-space w50">
            <div class="article-content">
                <h2 class="article-headline">Zum Weiterlesen</h2>
                <p class="article-item">
                    Biereye, Johannes: Kapellendorf, in: Heimatglocken, Sonderbeilagen der Apoldaer Nachrichten, 3/ 9, 1932.
                </p>
                <p class="article-item">
                    B&uuml;nz. Enno: Adelsburg-Raubnest-Amtssitz. Die Wasserburg Kapellendorf in der mittelalterlichen Geschichte Th&uuml;ringens (Jb. der Th&uuml;ringer Stiftung Schl&ouml;sser und G&Auml;rten, 4(2000), 2001, S. 39-50.
                </p>
                <p class="article-item">
                    La&Uuml;, Heiko: Wasserburg Kapellendorf „der stad Erforde redlich verkouft“, in: H&ouml;fische Kostbarkeiten in Th&uuml;ringen. Historische Anlagen der Stiftung Th&uuml;ringer Schl&ouml;sser und G&Auml;rten, hg. v. Helmut-Eberhard Paulus, Regensburg 2007, S. 119-125.
                </p>
                <p class="article-item">
                    Lehfeldt, Paul: Kapellendorf, in: Bau- und Kunstdenkm&auml;ler Th&uuml;ringens, Band 18, Jena 1888.
                </p>
                <p class="article-item">
                    Moszner, Karl: Eine burgenpflegerische Glanzleistung, in: Weimar, Ein Kulturspiegel f&uuml;r Stadt und Land 7, Heft 3, 1963.
                </p>
                <p class="article-item">
                    Ders.: Die Wasserburg Kapellendorf. Ihre Geschichte und Baugeschichte, Weimar 1972.
                </p>
                <p class="article-item">
                    Neumann, Gotthard: Unsere Ausgrabungen in der Wasserburg Kapellendorf, in: Th&uuml;ringer F&auml;hnlein, 2. Jg. Heft 12, 1933, S. 705-712.
                </p>
                <p class="article-item">
                    Schuchardt, Hans: Die Wasserburg Kapellendorf, Weimar 1933.
                </p>
                <p class="article-item">
                    W&auml;scher, Hermann: Die Baugeschichte der Wasserburg Kapellendorf, Halle 1961.
                </p>
                <p class="article-item">
                    Weiner, Franz: Geschichte des Ortes Kapellendorf insbesondere seiner Burg und seines Klosters mit Ber&uuml;cksichtigung der fr&uuml;heren Amtsd&ouml;rfer Frankendorf, Hammerstedt, Hohlstedt, Gro&Uuml;schwabhausen, Stobra und Hermstedt, Weimar 1900.
                </p>
                <p class="article-item">
                    Wittmann, Helge: Zur Fr&uuml;hgeschichte der Kirche von Kapellendorf, in: Die Kirche von Kapellendorf. Studien zu Geschichte und Architektur einer l&auml;ndlichen Pfarr- und Klosterkirche, hg. v. Dems., Petersberg 2003, S. 11-29.
                </p>
            </div>
        </div>

    </div>

    {{outlet}}

</div>
