<div class="footer-nav">
    <div class="container d-flex justify-content-center">

        {{#each links as |item|}}
            {{#link-to item.link class="btn btn-link"}}
                <div class="nav-item-title">{{t item.title htmlSafe=true}}</div>
                <div class="nav-item-description">{{t item.description htmlSafe=true}}</div>
            {{/link-to}}
        {{/each}}

        {{yield}}

    </div>
</div>